<!DOCTYPE html>
<html>
<head>
  <title>Hydrant</title>
  <%= stylesheet_link_tag :all :recursive=>:all%>
  <%= stylesheet_link_tag "/stylesheets/hydrant/main.css" %>

  <link href="/stylesheets/hydrant/main.css" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
